/* Overflow */

.box {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  margin-bottom: 30px;
}

.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}
